/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(72, 91, 117, 0.9);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(72, 91, 117, 0.5);
}
