@use 'base' as *;

// logo
.logo {
  img {
    width: 110px;
    height: 110px;
  }
  @include flexLayout;
  color: $color-primary;
  border-radius: 50%;
  border: 3px solid $color-primary;
  margin-right: 20px;
}
// main-name
.main-name {
  font-family: $font-nunito;
  font-size: 50px;
  color: $color-secondary;
  @include textStyles();
}
// sub-name
.sub-name {
  font-family: $font-josefinSans;
  font-size: 18px;
  color: $color-secondary;
  @include textStyles();
}

// main-heading
.main-heading {
  font-family: $font-dancingScript;
  font-size: 80px;
  color: $color-primary;
  margin-bottom: 40px;
  font-weight: 300;
}
// sub-heading
.sub-heading {
  font-family: $font-josefinSans;
  @include textStyles();
  text-transform: none;
  color: $color-secondary;
  font-size: 50px;
}

// main-btn
.card-overlay-btn {
  font-family: $font-josefinSans;
  @include textStyles();
  color: $color-primary;
  background-color: $color-white;
  width: 150px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid $color-primary;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}
// card
.card:hover .card-overlay {
  left: 0;
}

.card {
  width: 33.3333%;
  height: 30vw;
  position: relative;
  overflow: hidden;

  .card-overlay {
    @include flexLayout;
    position: absolute;
    top: 0;
    left: -100%;
    color: $color-white;
    background-color: rgba(211, 171, 85, 0.6);
    z-index: 10;
    flex-direction: column;
    transition: left 0.7s;
    transition-property: left;
    transition-duration: 0.7s;
    transition-timing-function: ease;
    transition-delay: 0s;
    width: 100%;
    height: 100%;

    .card-overlay-heading {
      font-family: $font-nunito;
      font-size: 50px;
      @include textStyles();
      text-transform: capitalize;
    }
    .card-overlay-paragraph {
      font-family: $font-josefinSans;
      @include textStyles();
      font-size: 30px;
      margin-bottom: 30px;
      text-transform: capitalize;
    }
  }

  .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
  }
}

.social-media-link {
  text-decoration: none;
  font-size: 50px;
  color: #bbb;
  transition: color 0.7s;

  .fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }
}

.footer-copyright-paragraph {
  font-family: $font-josefinSans;
  font-size: 18px;
  color: $color-secondary;
  @include textStyles();
  text-transform: capitalize;
}
