@use 'base' as *;

// header
.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url(https://images.unsplash.com/photo-1479044769763-c28e05b5baa5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80)
      no-repeat center/cover;
  position: relative;

  .brand {
    @include centering(15%);
    @include flexLayout;
  }
  .header-banner {
    @include centering(47%);
    color: $color-white;
    text-align: center;
  }
}
//gallery
.gallery {
  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
// footer
.footer {
  padding: 70px 0;
  @include flexLayout;
  flex-direction: column;

  .footer-header {
    margin-bottom: 70px;
    @include flexLayout;
  }
  .social-media {
    width: 300px;
    margin-bottom: 70px;
    @include flexLayout;
    justify-content: space-between;

    .social-media-item {
      list-style: none;

      .fab:hover {
        color: $color-primary;
        transition: 1s;
      }
    }
  }
}
